{%extends  'app/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<section class="page-section mt-4" id="contact">
    <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                         <form  method="POST" class = "uniForm">
                            {%csrf_token%}
                             {{form|crispy}}
                            <br />
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Register</button></div>
                        </form>
                        <div> <span>Already have an account? <a href="{%url 'login'%}" class="font-weight-bolder" style="color : blue;">Login</a></span></div>
                    </div>
                </div>
            </div>
        </section>
</section>
{%endblock%}




{%block footer%}
{%endblock%}

